<ul class="nav nav-pills menu1">
  <li role="presentation" class="btn1"><a href="/">Home</a></li>
  <li role="presentation" class="btn1"><a href="ms">Mike Snow</a></li>
  <li role="presentation" class="btn1"><a href="pb">Pinback</a></li>
  <li role="presentation" class="btn1"><a href="qsa">Queens of the Stone Age</a></li>
  <li role="presentation" class="btn1"><a href="cwk">Cold War Kids</a></li>
</ul>

<hr class="bar1">
