<% include ../parts/01-top %>
<% include ../parts/03-menu %>

<h1>Mike Snow</h1>
<img class="bor1" src="../img/01-ms.png" alt="Missing Picture">
<iframe class="bor1" src="https://www.youtube.com/embed/3ffE0RIK_zc" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<% include ../parts/02-bottom %>
