<% include ../parts/01-top %>
<% include ../parts/03-menu %>

<h1>Pinback</h1>
<img class="bor1" src="../img/02-pb.png" alt="Missing Picture">
<iframe class="bor1" src="https://www.youtube.com/embed/MG6Khk7W3ao" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<% include ../parts/02-bottom %>
