<% include ../parts/01-top %>
<% include ../parts/03-menu %>

<h1>Queens of the Stone Age</h1>
<img class="bor1" src="../img/03-qsa.png" alt="Missing Picture"><br><br>
<iframe class="bor1" src="https://www.youtube.com/embed/EqFnDWdUBi8" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<% include ../parts/02-bottom %>
