<% include ../parts/01-top %>
<% include ../parts/03-menu %>

<h1>Cold War Kids</h1>
<img class="bor1" src="../img/04-cwk.png" alt="Missing Picture">
<iframe class="bor1" width="560" height="315" src="https://www.youtube.com/embed/3_mmnFtiB48" frameborder="0" allowfullscreen></iframe>

<% include ../parts/02-bottom %>
